body {
    background-color: #e5e5ff;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 10px;
}

a#title{
    text-decoration: none;
    color: #000000;
}

.article {
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 600px;
    padding: 50px;
    border-radius: 10px;
}

header {
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 600px;
    padding: 5px 50px;
    border-radius: 10px;
    text-align: center;

}

footer {
    text-align: center;
}

footer .sns_icon{
    margin: 10px;
}

.title {
    text-align: center;
}